.container--providers {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.providers__title {
    font-size: 22px;
    line-height: 123%;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 28px;
    }
}
.providers__subtitle {
    font-size: 16px;
    line-height: 123%;
    text-align: center;
    margin-top: 1.5rem;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}

.providers__list {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.provider {
    height: 50px;
    width: 150px;
    margin: 1rem;
}
