.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: unset;
}

.alcohol-abuse {
  background-image: url('./assets/background-images/alcohol-abuse--mobile.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: 50% -72px;
  @screen lg {
    background-image: url('./assets/background-images/alcohol-abuse--desktop.jpg');
    background-size: cover;
    background-position: 40% 50%;
  }
}

/* .our-approach {
  background-image: c url('./assets/background-images/our-approach--mobile.jpg');
  @screen lg {
    background-image: url('./assets/background-images/our-approach--desktop.jpg');
  }
} */

.our-approach {
  background-image: url('./assets/background-images/our-approach-1.jpg');
}

.better-chance {
  background-image: url('./assets/background-images/better-chance--desktop.jpg');
}

$aqua: config('colors.aqua');
$aqua100: config('colors.aqua-100');
/* $aqua100: '#EEF9FC'; */

.overlay-aqua {
  background: linear-gradient(rgba(204, 226, 231, 20%), $aqua100);
}
