.btn-sm {
  width: 180px;
  @apply rounded-full py-2;
}
.btn {
  width: 270px;
  @apply rounded-full text-24 py-4;
}
.btn-lg {
  width: 320px;
  @apply rounded-full;
}
.btn-orange {
  @apply bg-orange text-white;
}
.btn-orange:hover {
  @apply bg-orange-500;
}
.btn-navy {
  @apply bg-navy text-aqua border-aqua border-2;
}
.btn-navy:hover {
  @apply bg-aqua text-navy;
}
.btn-grey-100 {
  @apply bg-grey-100 text-navy border-navy border-2;
}
.btn-grey-100:hover {
  @apply bg-navy text-grey-100 border-grey-100 border-2;
}

button:hover,
button:active {
    transition: all 0.25s;
    cursor: pointer;
}
button:focus {
    outline: 0;
}
.orange {
  @apply text-orange bg-white;
  border-radius: 40px;
  border: 2px solid rgba(210, 132, 48, 0.3);
  width: 220px;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 0;
  text-transform: none;
  font-weight: bold;
}
.orange:hover {
  @apply bg-orange text-white border-orange border-2
}
.orange:active {
  background: rgba(210, 132, 48, 0.3);
  border: 2px solid rgba(210, 132, 48, 0.3);
  @apply text-white;
}