.btn-sm {
  width: 180px;
  @apply rounded-full py-2;
}
.btn {
  width: 270px;
  @apply rounded-full text-24 py-4;
}
.btn-lg {
  width: 320px;
  @apply rounded-full;
}
.btn-orange {
  @apply bg-orange text-white;
}
.btn-orange:hover {
  @apply bg-orange-500;
}
.btn-navy {
  @apply bg-navy text-aqua border-aqua border-2;
}
.btn-navy:hover {
  @apply bg-aqua text-navy;
}
.btn-grey-100 {
  @apply bg-grey-100 text-navy border-navy border-2;
}
.btn-grey-100:hover {
  @apply bg-navy text-grey-100 border-grey-100 border-2;
}

/*
  AAC SPA styles compatible...
*/
button:hover,
button:active {
    transition: all 0.25s;
    cursor: pointer;
}
button:focus {
    outline: 0;
}
.orange {
  @apply text-orange bg-white;
  border-radius: 40px;
  border: 2px solid rgba(210, 132, 48, 0.3);
  width: 220px;
  font-size: 18px;
  line-height: 24px;
  padding: 15px 0;
  text-transform: none;
  font-weight: bold;
}
.orange:hover {
  @apply bg-orange text-white border-orange
}
.orange:active {
  background: rgba(210, 132, 48, 0.3);
  border: 2px solid rgba(210, 132, 48, 0.3);
  @apply text-white;
}
.white {
  @apply text-blue-400;
  background-color: #fff;
  /* color: ${blue(400)}; */
  padding: 15px;
  text-align: left;
  border: 1px solid rgba(54, 72, 98, 0.7);
}
.white:hover {
  background: #f4f5f4;
}
.white:active {
  background: #e1e1e1;
}
.blue {
  @apply bg-blue py-15 px-30 text-white text-center font-bold;
  text-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
}
.dark-blue {
  @apply bg-blue-700 py-15 px-30 text-white text-center font-bold;
  border: 1px solid rgba(54, 72, 98, 0.7);
}
.blue:hover,
.dark-blue:hover {
    opacity: 0.9;
}
.blue:active,
.dark-blue:active {
    opacity: 0.7;
}