.btn-sm {
  width: 220px;
  @apply rounded-full;
}
.btn {
  width: 270px;
  @apply rounded-full text-24 py-15;
}
.btn-lg {
  width: 320px;
  @apply rounded-full;
}
.btn-orange {
  @apply bg-orange text-white;
}
.btn-orange:hover {
  @apply bg-orange-500;
}
.btn-navy {
  @apply bg-navy text-aqua border-aqua border-2;
}
.btn-navy:hover {
  @apply bg-aqua text-navy;
}

/* block max-w-xs m-auto mb-20 px-20 py-5 no-underline bg-orange hover:bg-orange-500 text-white text-24 font-700 rounded-full flex justify-around items-center  */
