.container--testimonial {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.testimonial__hero {
    $bg-path: '../../assets/background-images';
    background: url('#{$bg-path}/hero--testimonial-mobile.png') no-repeat center;
    background-size: cover;
    height: 168px;
    margin-bottom: 2rem;

    @media(min-width: 480px) {
        height: 240px;
    }

    @media(min-width: 768px) {
        background: url('#{$bg-path}/hero--testimonial-desktop.png') no-repeat center;
        background-size: cover;
        height: 300px;
        display: flex;
        align-items: center;
    }

    @media(min-width: 1200px) {
        height: 360px;
    }
}

.testimonial__content--title {
    font-size: 22px;
    line-height: 123%;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 28px;
    }
}

.testimonial__hero > .testimonial__content {
    height: 100%;
}

.featured__list {
    margin: 0;
    padding: 0;
    height: 100%;
    list-style: none;
    display: none;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: 768px) {
        display: flex;
    }
}

.featured__list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;
}

.testimonial__list {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    @media (min-width: 992px) {
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}

.testimonial__list-item {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 240px;

    @media (min-width: 768px) {
        width: 270px;
    }

    @media (min-width: 992px) {
        margin: 2rem 1rem;
        width: 300px;

        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            border-right: none;
            margin-right: 0;
        }
    }
}

.testimonial__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 992px) {
        max-width: 970px;
    }
}

.testimonial--title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 175%;
}

.testimonial--date {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 175%;
}

.testimonial--text {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 175%;
    text-align: center;
    font-style: italic;
}

.star-review {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 24px;
}

.logo-ro,
.logo-sh,
.logo-rf {
    height: 50px;
}

.logo-lth {
    height: 40px;
}