.better-chance {
  background: url("../../assets/background-images/better-chance--mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero {
  background: url("../../assets/background-images/hero--mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.our-approach {
  background: url("../../assets/background-images/our-approach--mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}