.better-chance {
  background: url("../../assets/background-images/better-chance--mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover; // background-size: 116%;
  @media (min-width: 768px) {
    background: url("../../assets/background-images/better-chance--desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.hero {
  background: url("../../assets/background-images/hero--mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  @media (min-width: 768px) {
    background: url("../../assets/background-images/hero--desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.our-approach {
  background: url("../../assets/background-images/our-approach--mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-width: 768px) {
    background: url("../../assets/background-images/our-approach--desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}