$navy: #344663;
.atf {
  height: calc(100vh - 52px);
  @media (min-width: 768px) {
    height: 85vh;
  }
}

.overlay--navy {
  background: rgba($navy, .5);
}

.pin-b-hero {
  bottom: 18px;
  right: 0;
  left: 0;
}