/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 */
@tailwind preflight;
/**
 * This injects any component classes registered by plugins.
 */
@tailwind components;
/**
* This injects all of Tailwind's utility classes, generated based on your
* config file. It also injects any utility classes registered by plugins.
*/
@tailwind utilities;
.better-chance {
  background: url("../../assets/background-images/better-chance--mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    .better-chance {
      background: url("../../assets/background-images/better-chance--desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover; } }

.hero {
  background: url("../../assets/background-images/hero--mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover; }
  @media (min-width: 768px) {
    .hero {
      background: url("../../assets/background-images/hero--desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover; } }

.our-approach {
  background: url("../../assets/background-images/our-approach--mobile.jpg");
  background-repeat: no-repeat;
  background-size: contain; }
  @media (min-width: 768px) {
    .our-approach {
      background: url("../../assets/background-images/our-approach--desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover; } }

.overlay--navy {
  background: rgba(52, 70, 99, 0.8); }

.pin-b-hero {
  bottom: 18px;
  right: 0;
  left: 0; }

input,
textarea {
  border: 1px solid #8795a1; }

input::placeholder,
textarea::placeholder {
  color: #4D4D4D; }

.svg-orange {
  height: 50px;
  width: 50px; }

.svg-trans {
  height: 85px;
  width: 85px; }
  @media (min-width: 768px) {
    .svg-trans {
      height: 170px;
      width: 170px; } }
