<div class="about-container">

    <div class="aac logo"></div>

    <div class="list--title">
        <h2 class="title font-heavy">About American Addiction Centers</h2>
        <p class="type--description font-light">American Addiction Centers is a nationwide network of facilities and programs providing quality, compassionate, innovative care to adults struggling with addiction. Our whole-person approach considers lifestyle, environment, physical health, and mental-health disorders as well as individual strengths, motivation and desire to make positive changes in one’s life. We’ve helped thousands of clients around the country find a personalized path to lifelong recovery.</p>
    </div>

    <div class="list--contents">
        <ul class="about--list font-light">
            <li>CARF-Accredited facilities</li>
            <li>Nationwide network</li>
            <li>Research-based therapies</li>
            <li>12-step based</li>
            <li>Experience, qualified staff</li>
            <li>Inpatient and outpatient programs</li>
            <li>Co-occurring care (Dual Diagnosis)</li>
            <li>Wellness-focused</li>
            <li>Nationwide alumni-support network</li>
        </ul>
    </div>

</div>
