<div class="branded-footer bg-blue">

    <div class="footer__content">

        <img class="footer__logo" src="../img/logos/logo-footer.png">

        <div class="footer__contact font-grey-blue">
            <p class="contact--address">200 Powell Pl.</p>
            <p class="contact--address">Brentwood, TN 37027</p>
            <p class="contact--address">(888) 970-8544</p>
        </div>

        <div class="footer__cta--phone font-heavy font-white">Call 888-455-9750</div>

    </div>

</div>
