<div class="container--care bg-aqua">

    <div class="container--ruler">

        <div class="care__content">

            <div class="care__title font-heavy font-teal">Levels of Care</div>

            <ul class="care__list">

                <li class="care__list-item grey-bottom">
                    <img class="care__img" src="../img/interiors/detox.png">
                    <div class="care__list-item--wrapper">
                        <h3 class="care__list-item--title font-heavy">Medical Detox</h3>
                        <p class="care__list-item--content font-light">Our Medical Detox services provide medical monitoring and 24/7 supervision, compassionate withdrawal management, and personalized referrals for the next step in your recovery. A typical stay in Medical Detox lasts 5-7 days.</p>
                    </div>
                </li>

                <li class="care__list-item grey-bottom">
                    <img class="care__img" src="../img/interiors/residential.png">
                    <div class="care__list-item--wrapper">
                        <h3 class="care__list-item--title font-heavy">Residential Treatment</h3>
                        <p class="care__list-item--content font-light">For some clients, a structured residential treatment option can have a dramatic impact on successful recovery. In residential treatment (also known as “inpatient treatment”), the facility becomes the client’s home and treatment center for the duration of their stay; clients attend scheduled groups and therapy sessions most of the day and have limited outside contact. Intensive residential treatment aims to remove the client from the triggers and stressors of daily life in order to focus completely on recovery.</p>
                    </div>
                </li>

                <li class="care__list-item grey-bottom">
                    <img class="care__img" src="../img/interiors/outpatient.png">
                    <div class="care__list-item--wrapper">
                        <h3 class="care__list-item--title font-heavy">Outpatient Program</h3>
                        <p class="care__list-item--content font-light">Our Intensive Outpatient (IOP) programs require less supervision than residential treatment and provide a flexible but effective treatment option. Clients in the IOP program are committed to a structured schedule of 3-hour onsite treatment sessions anywhere from 3-7 days per week, depending on the client, with morning and evening sessions available. IOP can be an effective way to work toward recovery while still living at home, or a vital step-down from residential treatment as clients learn to integrate sobriety into community life.</p>
                    </div>
                </li>

                <li class="care__list-item grey-bottom">
                    <img class="care__img" src="../img/interiors/iop.png">
                    <div class="care__list-item--wrapper">
                        <h3 class="care__list-item--title font-heavy">Intensive Outpatient Program (IOP)</h3>
                        <p class="care__list-item--content font-light">Our Intensive Outpatient (IOP) programs require less supervision than residential treatment and provide a flexible but effective treatment option. Clients in the IOP program are committed to a structured schedule of 3-hour onsite treatment sessions anywhere from 3-7 days per week, depending on the client, with morning and evening sessions available. IOP can be an effective way to work toward recovery while still living at home, or a vital step-down from residential treatment as clients learn to integrate sobriety into community life.</p>
                    </div>
                </li>

                <li class="care__list-item">
                    <img class="care__img" src="../img/interiors/php.png">
                    <div class="care__list-item--wrapper">
                        <h3 class="care__list-item--title font-heavy">Partial Hospitalization Program (PHP)</h3>
                        <p class="care__list-item--content font-light">PHP is a structured program providing care at least 5 days a week for 6 or more hours per day. Clients attend daily programming, structured group therapy and weekly individual therapy sessions, plus recreational activities, outside support group meetings, and and experiential therapies. Clients in a PHP program are moving away from around-the-clock supervision and gaining more real-life experience in the community.</p>
                    </div>
                </li>

            </ul>

        </div>

    </div>

</div>
