<div class="congrats-container container">
    <h1 class="title font-light">Make the call now. We'll handle the rest.</h1>
    <div class="congrats__group">        
        <div class="congrats__bit">
            <p class="bit-h font-blue blue-bottom font-heavy">For you.</p>
            <p>Congratulations on making the first step towards recovery. We offer a complete spectrum of treatment based on your individual needs. Your individualized addiction plan is customized according to the addiction severity, presence of a co-occurring mental health disorder, and your unique needs.</p>
        </div>
        <div class="congrats__bit">
            <p class="bit-h font-teal teal-bottom font-heavy">For Someone You Care About.</p>
            <p>American Addiction Centers views addiction as a disease that touches all members of the family in some way. We believe the disease of addiction affects each family member at the same level as it does the individual "just differently" therefore, we treat the whole family system. In addiction to offering on-site family therapy sessions and intensive workshops, our family program is offered online and via telephone conference. Our family program uses teh Systemic Family Intervention Model developed by Wayne Raiter, MA, LICSW.</p>
        </div>
    </div>
</div>
