<div class="form-container bg-beige">
    <div class="container">
        <h2 class="h2-section font-medium">Call 24/7, 365 Days a Year:</h2>
        <span class="cta__phone font-teal font-heavy">Call 888-455-9750</span>
        <span class="form-title font-teal font-heavy">Prefer a call or email from us instead?</span>
        <form class="" action="index.html" method="post">
            <div class="form-body">
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="firstname" placeholder="First Name" value="" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="lastname" placeholder="Last Name" value="" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="email" placeholder="Email" value="" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <input type="text" name="phone" placeholder="Phone (Optional)" value="" required>
                    </div>
                </div>
                <div class="form-group">
                    <textarea name="description" rows="8" cols="80" placeholder="What can we help you with?" required></textarea>
                </div>
            </div>
            <div class="form-btn bg-orange">
                Contact Me
            </div>
            <div class='cta__guarantee font-light'>Insurance Accepted. Privacy Guaranteed.</div>
            <ul class="font-light">
                <li class="font-medium">FREE Insurance Verification</li>
                <li class="font-medium">Travel Arrangements Included</li>
                <li class="font-medium">Help Available 24/7</li>
            </ul>
        </form>
    </div>
</div>
