<div class="form-container bg-beige">
    
    <div class="form--header">
        <div class="title font-grey font-medium">Call 24/7, 365 Days a Year:</h2>
        <div class="form--cta">
            <div class="cta__phone font-teal font-heavy">Call 888-455-9750</div>
            <div class="cta__tease font-teal font-heavy">Prefer a call or email from us instead?</div>
        </div>
    </div>

    <form id="ppcPage" method="POST" class="mktgform" novalidate="novalidate"><input name="oid" type="hidden" value="00DG0000000CLl1" />
        <div class="form--group">
            <div class="form--item">
                <span class="gfield_required font-teal">*</span>
                <input id="first_name" placeholder="First Name" maxlength="40" name="first_name" required size="20" type="text" />
            </div>
            <div class="form--item">
                <span class="gfield_required font-teal">*</span>
                <input id="last_name" placeholder="Last Name" maxlength="80" name="last_name" required size="20" type="text" />
            </div>
            <div class="form--item">
                <span class="gfield_required font-teal">*</span>
                <input placeholder="Email"id="email" name="email" size="20" type="text">
            </div>
            <div class="form--item">
                <input placeholder="Phone (Optional)"id="phone" name="phone" size="20" type="number">
            </div>
            <div class="form--item">
                <span class="gfield_required font-teal">*</span>
                <textarea name="description" rows="8" cols="80" placeholder="What can we help you with?" required></textarea>
            </div>
            <input id="website2" class="disNone hide" name="website2" type="text" value="" />
            <input id="website" class="disNone hide" name="website" type="text" value="http://" />
            <input name="retURL" type="hidden" value="https://americanaddictioncenters.org/thank-you-2/" />
            <input id="lead_source" name="lead_source" class="lead_source" type="hidden" />
            <input id="OwnerId" name="OwnerId" type="hidden" value="00GG0000001MB0uMAG" />
            <input id="recordType" name="recordType" type="hidden" value="012G0000001QDubIAG"/>
            <input id="00NG000000F5Zwk" type="hidden" name="00NG000000F5Zwk"/>
            <input id="00NG000000EZS9c" type="hidden" name="00NG000000EZS9c"/>
            <input id="00NG000000F5Zx9" type="hidden" name="00NG000000F5Zx9"/>
            <input id="00NG000000F5Zy2" type="hidden" name="00NG000000F5Zy2"/>
            <input id="00NG000000F5ZyC" type="hidden" name="00NG000000F5ZyC"/>
            <input id="00NG000000F5ZyH" type="hidden" name="00NG000000F5ZyH"/>
            <input id="00NG000000F5Pip" type="hidden" name="00NG000000F5Pip"/>
            <input id="00NG000000F5Zwp" type="hidden" name="00NG000000F5Zwp"/>
            <input id="00NG000000EZK7K" type="hidden" name="00NG000000EZK7K"/>
            <input id="00NG000000CrJNi" type="hidden" name="00NG000000CrJNi"/>
            <input id="00NG000000F1UD4" type="hidden" name="00NG000000F1UD4"/>
            <input id="00NG000000F5Zxx" type="hidden" name="00NG000000F5Zxx"/>
            <input class="form--btn bg-orange" type="submit" value="Contact Me" />
        </div>
    </form>

    <div class="form--footer">
        <div class='cta__guarantee font-light'>Insurance Accepted. Privacy Guaranteed.</div>
        <ul class="font-light types--list">
            <li class="font-medium type search">FREE Insurance Verification</li>
            <li class="font-medium type plane">Travel Arrangements Included</li>
            <li class="font-medium type clock">Help Available 24/7</li>
        </ul>
        <div class="form--disclaimer font-medium">By submitting this form, I agree to be contacted by American Addiction Centers, Inc. at the phone number provided above, including my wireless numbers if provided. We won’t sell your information and will treat your information in accordance with our <a href="/policy/" target="_blank" alt="Privacy Policy">privacy policy</a>.</div>
    </div>

</div>
