<div class="header is-sticky">
    <div class="container--ruler">
        <div class="header__content">
            <a class="logo--link" href="/" target="blank">
                <img class="header__logo" src="../img/logos/logo-header.png">
            </a>
            <div class="header__cta font-teal">
                <a href="tel:+18884559750"><div class="header__cta--phone font-heavy">Call 888-455-9750</div></a>
                <div class='header__cta--guarantee font-heavy'>Insurance Accepted. Privacy Guaranteed.</div>
            </div>
        </div>
    </div>
</div>
