<div class="hero-container">
    <div class="hero__content container">
        <p class="before-title font-lightest">Strugging with addiction?</p>
        <h1 class="title font-light">Real help can start in just 24 hours.</h1>
        <div class="hero-mobile">
            <p class="after-title font-medium">A complete spectrum of options. Treatment tailored to YOU.</p>
            <ul class="font-light">
                <li>Adult Addiction Treatment Programs</li>
                <li>Dual Diagnosis Treatment Curriculum</li>
                <li>Systemic Family Intervention Program</li>
                <li>Drug Recovery -- Aftercare</li>
                <li>Fire Services & Law Enforcement</li>
            </ul>
        </div>
        <div class="hero-desktop">
            <p class="after-title font-light">Long-term recovery from drug and alcohol addiction is not only possible, it’s within your reach. We’ve helped thousands of people stop using for good through proven clinical treatment and positive changes in attitude, behavior, lifestyle and values. <strong>We’re here to help you get your life back. Are you ready?</strong></p>
            <div class="cta__phone font-heavy">Call 888-455-9750</div>
            <div class="cta__button font-white bg-orange">Get Started Now</div>
        </div>
    </div>
    <div class="sub-hero">
        <div class="container">
            <p class="after-title font-medium font-white">A complete spectrum of options. Treatment tailored to YOU.</p>
            <ul class="font-light font-white">
                <li>Adult Addiction Treatment Programs</li>
                <li>Dual Diagnosis Treatment Curriculum</li>
                <li>Systemic Family Intervention Program</li>
                <li>Drug Recovery -- Aftercare</li>
                <li>Fire Services & Law Enforcement</li>
            </ul>
        </div>
    </div>
</div>
