<extends src="layout.html">
    <block name="header">
        <include src="header.html"></include>
    </block>
    <block name="content">
        <div class="content">
            <include src="hero.html"></include>
            <include src="congrats.html"></include>
            <include src="form.html"></include>
            <include src="response.html"></include>
            <include src="providers.html"></include>
            <include src="care.html"></include>
            <include src="about.html"></include>
            <include src="testimonial.html"></include>
            <include src="guarantee.html"></include>
            <include src="branded-footer.html"></include> 
        </div>
    </block>
    <block name="footer">
        <include src="cta-footer.html"></include>
    </block>
</extends>
