<div class="container--providers">

    <div class="container--ruler">

        <div class="providers__content">

            <div class="providers__title font-heavy">Insurance We Accept</div>

            <div class="providers__list">
                <div class="humana provider"></div>
                <div class="blue-cross provider"></div>
                <div class="cigna provider"></div>
                <div class="upmc provider"></div>
                <div class="harvard-health provider"></div>
                <div class="united-health provider"></div>
                <div class="ameri-health provider"></div>
            </div>

        </div>

    </div>

</div>
