<div class="providers-container">
    <div class="providers-title">
        <h2 class="h2-section font-heavy">Insurance Providers</h2>
    </div>
    <div class="providers-list">
        <div class="humana provider"></div>
        <div class="blue-cross provider"></div>
        <div class="cigna provider"></div>
        <div class="upmc provider"></div>
        <div class="harvard-health provider"></div>
        <div class="united-health provider"></div>
        <div class="ameri-health provider"></div>
    </div>
</div>
