<div class="response-container">

    <div class="response__content">

        <div class="response__title font-heavy">What Happens When I Call?</div>

        <ul class="response__list">
            <li class="response__list-item phone">
                <h3 class="response__list-item--title font-heavy">We'll Listen.</h3>
                <p class="response__list-item--content">Your Treatment Consultant will complete a 15-30 minute confidential clinical evaluation of you or your loved one’s addiction history and behavioral health issues (anxiety disorders, depression, bipolar disorder, etc.). This evaluation is absolutely free, and you are under no obligation to seek treatment.</p>
            </li>
            <li class="response__list-item check">
                <h3 class="response__list-item--title font-heavy">We'll verify your insurance and help you choose a facility.</h3>
                <p class="response__list-item--content">We’ll quickly verify your insurance information over the phone and discuss co-pays and payment options, then match you with the facility that best meets your clinical and financial needs.</p>
            </li>
            <li class="response__list-item plane">
                <h3 class="response__list-item--title font-heavy">We’ll book your travel.</h3>
                <p class="response__list-item--content">We’ll even coordinate all travel arrangements, including flights, airport pickup and transportation directly to the facility, usually arriving within 24 hours of the initial phone assessment. Your Treatment Consultant will work closely with the facility and its transportation staff to coordinate all flight schedules and travel information.</p>
            </li>
            <li class="response__list-item heart">
                <h3 class="response__list-item--title font-heavy">We’ll make sure you get the help you need.</h3>
                <p class="response__list-item--content"> Your Treatment Consultant will stay in contact with you and/ or your family throughout the entire admissions process for a seamless transition into residential treatment, where you’ll begin your recovery journey in a supportive, healing environment with a "whole person" approach.</p>
            </li>
        </ul>

    </div>

</div>
