<div class="response-container">
    <div class="container">
        <section class="list-section">
            <div class="list-title">
                <h2 class="h2-section heavy">What Happens When I Call?</h2>
            </div>
            <div class="list-contents">
                <ul class="types-list">
                    <li class="type phone">
                        <span class="h4">We'll Listen.</span>
                        <p class="type-description">Your Treatment Consultant will complete a 15-30 minute confidential clinical evaluation of you or your loved one’s addiction history and behavioral health issues (anxiety disorders, depression, bipolar disorder, etc.). This evaluation is absolutely free, and you are under no obligation to seek treatment.</p>
                    </li>
                    <li class="type check">
                        <span class="h4">We'll verify your insurance and help you choose a facility.</span>
                        <p class="type-description">We’ll quickly verify your insurance information over the phone and discuss co-pays and payment options, then match you with the facility that best meets your clinical and financial needs.</p>
                    </li>
                    <li class="type plane">
                        <span class="h4">We’ll book your travel.</span>
                        <p class="type-description">We’ll even coordinate all travel arrangements, including flights, airport pickup and transportation directly to the facility, usually arriving within 24 hours of the initial phone assessment. Your Treatment Consultant will work closely with the facility and its transportation staff to coordinate all flight schedules and travel information.</p>
                    </li>
                    <li class="type heart">
                        <span class="h4">We’ll make sure you get the help you need.</span>
                        <p class="type-description"> Your Treatment Consultant will stay in contact with you and/ or your family throughout the entire admissions process for a seamless transition into residential treatment, where you’ll begin your recovery journey in a supportive, healing environment with a "whole person" approach.</p>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
