<div class="testimonial-container">

    <div class="testimonial__hero">
        <div class="testimonial__content">
            <ul class="featured__list">
                <li class="featured__list-item">
                    <div class="ro"></div>
                    <div class="four-star"></div>
                    <div class="testimonial__wrapper">
                        <h3 class="testimonial--title font-heavy">Sarah K.</h3>
                        <p class="testimonial--date font-light">January 19, 2017</p>
                        <p class="testimonial--text font-light">“This is a no nonsense treatment center, I have learned a lot here.”</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="testimonial__content">

        <div class="testimonial__content--title font-heavy">Testimonials</div>

        <ul class="testimonial__list">
            <li class="testimonial__list-item">
                <div class="sr"></div>
                <div class="four-star"></div>
                <div class="testimonial__wrapper">
                    <h3 class="testimonial--title font-heavy">Greg S.</h3>
                    <p class="testimonial--date font-light">January 19, 2017</p>
                    <p class="testimonial--text font-light">“This is a no nonsense treatment center, I have learned a lot here.”</p>
                </div>
            </li>

            <li class="testimonial__list-item">
                <div class="lth"></div>
                <div class="five-star"></div>
                <div class="testimonial__wrapper">
                    <h3 class="testimonial--title font-heavy">Joannie</h3>
                    <p class="testimonial--date font-light">November 28, 2016</p>
                    <p class="testimonial--text font-light">“The staff at LTH are amazing people. They definitely made the experience nice for me, thank you.”</p>
                </div>
            </li>

            <li class="testimonial__list-item">
                <div class="rf"></div>
                <div class="four-star"></div>
                <div class="testimonial__wrapper">
                    <h3 class="testimonial--title font-heavy">Joseph B.</h3>
                    <p class="testimonial--date font-light">September 29, 2016</p>
                    <p class="testimonial--text font-light">“My is experience here was great and the staff is willing to help when ever needed.”</p>
                </div>
            </li>

        </ul>

    </div>

</div>
