<div class="testimonial-container">
    <div class="testimonial-hero">
        <div class="testimonial featured-testimonial">
            <div class="li-img ro"></div>
            <div class="li-img four-star"></div>
            <div class="li-text">
                <span class="h4">Sarah K.</span>
                <p class="type-description font-light">January 19, 2017<br>
                <em>“This is a no nonsense treatment center, I have learned a lot here.”</em></p>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="list-section">
            <div class="list-title">
                <h2 class="h2-section font-heavy">Testimonials</h2>
            </div>
            <div class="list-contents">
                <ul class="ul-list">
                    <li class="testimonial grey-bottom">
                        <div class="li-img sr"></div>
                        <div class="li-img four-star"></div>
                        <div class="li-text">
                            <span class="h4">Greg S.</span>
                            <p class="type-description font-light">January 19, 2017<br>
                            <em>“This is a no nonsense treatment center, I have learned a lot here.”</em></p>
                        </div>
                    </li>
                    <li class="testimonial grey-bottom">
                        <div class="li-img lth"></div>
                        <div class="li-img five-star"></div>
                        <div class="li-text">
                            <span class="h4">Joannie</span>
                            <p class="type-description font-light">November 28, 2016<br>
                            <em>“The staff at LTH are amazing people. They definitely made the experience nice for me, thank you.”</em></p>
                        </div>
                    </li>
                    <li class="testimonial">
                        <div class="li-img rf"></div>
                        <div class="li-img four-star"></div>
                        <div class="li-text">
                            <span class="h4">Joseph B.</span>
                            <p class="type-description font-light">September 29, 2016<br>
                            <em>“My is experience here was great and the staff is willing to help when ever needed.”</em></p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>
</div>
