.alcohol-abuse {
  @include background-image($size: auto, $position: 50% -72px);
  background-image: image(
    'alcohol-abuse--mobile.jpg',
    '#{$image-path}/background-images'
  );
  @screen lg {
    @include background-image;
    background-image: image(
      'alcohol-abuse--desktop.jpg',
      '#{$image-path}/background-images'
    );
  }
}

.our-approach {
  @include background-image($size: contain);
  background-image: image(
    'our-approach--mobile.jpg',
    '#{$image-path}/background-images'
  );
  @screen md {
    @include background-image;
    background-image: image(
      'our-approach--desktop.jpg',
      '#{$image-path}/background-images'
    );
  }
}

.better-chance {
  @include background-image;
  background-image: image(
    'better-chance--mobile.jpg',
    '#{$image-path}/background-images'
  );
  @screen md {
    background-image: image(
      'better-chance--desktop.jpg',
      '#{$image-path}/background-images'
    );
  }
}
