input,
textarea {
  border: 1px solid #8795a1;
  &:invalid {
    box-shadow: none;
  }
  &:-moz-submit-invalid {
    box-shadow: none;
  }
  &:-moz-ui-invalid {
    box-shadow: none;
  }
}

input::placeholder,
textarea::placeholder {
  color: #4D4D4D;
}