.about-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.about__content {
    padding-left: 25px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-right: 15px;
        max-width: 750px;
    }

    @media (min-width: 992px) {
        max-width: 970px;
    }
}

.about__logo {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.about__title {
    font-size: 22px;
    line-height: 123%;
    text-align: center;

    @media (min-width: 768px) {
        /*text-align: left;*/
        font-size: 28px;
    }
}

.about__sub-text--text {
    margin-bottom: 1rem;
    display: block;
    font-size: 16px;
    line-height: 135%;
}

.about__list {
    font-size: 16px;
    line-height: 147%;
    padding-left: 20px;

    @media (min-width: 768px) {
        max-width: 750px;
    }

    @media(min-width: 992px) {
        max-width: 970px;
    }

    @media (min-width: 1200px) {
        margin-top: 1rem;
    }
}
