.footer__content {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (min-width: 768px) {
        max-width: 750px;
    }

    @media (min-width: 992px) {
        max-width: 970px;
    }

    @media (min-width: 1200px) {
        max-width: 1170px;
    }
}

.footer__contact {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact--address {
    margin: 0;
    font-size: 18px;
    line-height: 135%;
}

.footer__cta--phone {
    font-size: 34px;
    line-height: 42px;
}
