.footer-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 3rem;
    padding-bottom: 3rem;

    & .contact-address {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: right;
        font-size: 4.8vw;
        list-style: none;

        @media(min-width: 768px) {
            display: flex;
            list-style: disc;

            & li {
                font-size: 14px;
                margin-left: 1rem;
                margin-right: 1.5rem;
            }

            & li:nth-child(1) {
                list-style: none;
            }

            & li:nth-child(3) {
                margin-right: 0;
            }
        }
    }

    & .cta__phone {
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: right;
        font-size: 9.2vw;
    }
}
