.care-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;

    & .li-img {
        display: none;
        height: 230px;
        width: 215px;

        @media(min-width: 768px) {
            display: flex;
            flex: 1;
        }
    }

    & .li-text {
        @media(min-width: 768px) {
            flex: 2;
            margin-left: 2rem;
        }
    }
}
