.congrats-container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 4rem;

    @media(min-width: 480px) {
        padding-bottom: 2rem;
    }
}

.congrats-container > .title {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 9.1vw;
    line-height: 118%;

    @media(min-width: 480px) {
        font-size: 26px;
        line-height: 142%;
    }

    @media(min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        width: 750px;
        font-size: 34px;
        line-height: 142%;
    }
}

.congrats-container > .congrats__group {
    padding-left: 15px;
    padding-right: 15px;

    @media(min-width: 768px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 750px;
        display: flex;
    }
}

.congrats__group > .congrats__group--half {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.congrats__group > .half--one {
    @media(min-width: 768px) {
        margin-right: 6rem;
    }
}

.congrats__group--half > .half {
    display: inline-block;
    padding-bottom: 1rem;
}

.congrats__group--half > .half--body {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
