.container--hero {
    background: url('../img/bg1-mobile.png') no-repeat top center ;
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 515px;

    @media(min-width: 480px) {
        background: url('../img/bg1-desktop.png') no-repeat 70% center;
        background-size: cover;
        justify-content: space-between;
        height: 368px;
    }

    @media(min-width: 768px) {
        background-position: top center;
        height: 474px;
        justify-content: flex-end;
    }

    @media(min-width: 1200px) {
        height: 574px;
    }
}

.hero__content {
    margin-left: 25px;
    margin-right: 25px;

    @media(min-width: 480px) {
        margin-top: 2rem;
        margin-left: 15px;
        margin-right: 15px;
    }

    @media(min-width: 768px) {
        margin-top: 0;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        max-width: 750px;
    }
}

.hero__title {
    color: #FFF;

    @media(min-width: 480px) {
        display: flex;
        flex-direction: column;
    }
}

.hero__title--pre-title {
    font-size: 30px;
    line-height: 133%;
    margin-bottom: 0;

    @media(min-width: 480px) {
        margin-top: 2rem;
        font-size: 40px;
        line-height: 95%;
    }

    @media(min-width: 768px) {
        font-size: 52px;
    }
}

.hero__title--title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 40px;
    line-height: 100%;

    @media(min-width: 480px) {
        margin-bottom: 1rem;
        font-size: 30px;
        line-height: 125%;
    }

    @media(min-width: 768px) {
        margin-bottom: 0.5rem;
        font-size: 40px;
    }

    @media(min-width: 1200px) {
    }
}

.hero__sub-text--text {
    display: none;

    @media (min-width: 768px) {
        margin-bottom: 1rem;
        display: block;
        font-size: 16px;
        line-height: 135%;
        color: #FFF;
    }

    @media (min-width: 1200px) {
        margin-bottom: 2rem;
    }
}

.hero__sub-text--cta {
    display: none;

    @media (min-width: 480px) {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: #FFF;
    }
}

.hero__sub-text--cta > .cta__phone {
    font-size: 22px;
    line-height: 24px;
}

.hero__sub-text--cta > .cta__button {
    font-size: 14px;
    border: 2px solid #FFF;
    border-radius: 25px;
    width: 150px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media(min-width: 480px) {
        width: 110px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 10px;
        border: 1px solid #FFF;
    }

    @media(min-width: 768px) {
        width: 150px;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        font-size: 14px;
    }

    @media(min-width: 1200px) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.hero__sub {
    padding-left: 25px;
    padding-right: 25px;
    font-size: 16px;
    line-height: 115%;

    @media (min-width: 480px) {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(138,144,144, 0.9);
    }

    @media (min-width: 1200px) {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}

.hero__sub--title {
    font-size: 16px;
    margin-top: 2rem;
    margin-bottom: 1rem;

    @media (min-width: 480px) {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 12px;
        line-height: 120%;
        text-align: center;
    }

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

.hero__sub--list {
    font-size: 15px;
    line-height: 147%;
    padding-left: 20px;

    @media (min-width: 480px) {
        margin-top: 0.5rem;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 12px;
        list-style: none;
    }

    @media (min-width: 768px) {
        max-width: 750px;
        font-size: 16px;
    }

    @media(min-width: 992px) {
        max-width: 970px;
    }

    @media (min-width: 1200px) {
        margin-top: 1rem;
    }
}

.hero__sub--list-item {

    @media (min-width: 480px) {
        margin-right: 1rem;

        &:after {
            content: " | ";
            padding-left: 1rem;
        }

        &:last-child:after {
            content: none;
        }
    }

    @media (min-width: 1200px) {
        margin-bottom: 0.5rem;
    }
}
