.cta__phone {
    font-size: 22px;
    line-height: 24px;
    text-align: center;
}

.cta__phone > a {
    color: #40BBC1;
}

.cta__guarantee {
    font-size: 10px;
    line-height: 120%;
    text-align: center;

    @media(min-width: 480){
        font-size: 12px;
    }
}

.cta__tease {
    font-size: 4.6vw;
    line-height: 116%;

    @media(min-width: 480px) {
        font-size: 14px;
        line-height: 104%;
    }

    @media(min-width: 768px) {
        font-size: 18px;
    }
}

.cta__button {
    font-size: 14px;
    border: 2px solid #FFF;
    border-radius: 25px;
    width: 150px;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @media(min-width: 480px) {
        width: 110px;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 10px;
        border: 1px solid #FFF;
    }

    @media(min-width: 768px) {
        width: 150px;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 14px;
    }

    @media(min-width: 1200px) {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}
