.plane::before {
    font-family: "FontAwesome";
    content: "\f072";
    color: #267FB7;
    position: absolute;
    /*left: -35px;
    top: 5px;
    font-size: 20px;*/

    /*@media(min-width: 480px){
        font-size: 16px;
    }

    @media (min-width: 992px){
        font-size: 32px;
        left: -40px;
    }*/
}

.check::before {
    font-family: "FontAwesome";
    content: "\f00c";
    color: #267FB7;
    position: absolute;
    /*left: -35px;
    top: 5px;
    font-size: 20px;

    @media(min-width: 480px){
        font-size: 16px;
    }

    @media (min-width: 992px){
        font-size: 32px;
        left: -40px;
    }*/
}

.phone::before {
    font-family: "FontAwesome";
    content: "\f095";
    color: #267FB7;
    position: absolute;
    /*left: -35px;
    top: 5px;
    font-size: 20px;

    @media(min-width: 480px){
        font-size: 16px;
    }

    @media (min-width: 992px){
        font-size: 32px;
        left: -40px;
    }*/
}

.heart::before {
    font-family: "FontAwesome";
    content: "\f004";
    color: #267FB7;
    position: absolute;
    /*left: -35px;
    top: 5px;
    font-size: 20px;

    @media(min-width: 480px){
        font-size: 16px;
    }

    @media (min-width: 992px){
        font-size: 32px;
        left: -40px;
    }*/
}

.search::before {
    font-family: "FontAwesome";
    content: "\f002";
    color: #267FB7;
    position: absolute;
    /*left: -35px;
    top: 5px;
    font-size: 20px;

    @media(min-width: 480px){
        font-size: 16px;
    }

    @media (min-width: 992px){
        font-size: 32px;
        left: -40px;
    }*/
}

.clock::before {
    font-family: "FontAwesome";
    content: "\f017";
    color: #267FB7;
    position: absolute;
    /*left: -35px;
    top: 5px;
    font-size: 20px;

    @media(min-width: 480px){
        font-size: 16px;
    }

    @media (min-width: 992px){
        font-size: 32px;
        left: -40px;
    }*/
}
