/*
    Logo size and color variations for header/footer sections
*/
.header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;

    & :before {
        display:none;
    }
    & :after {
        display:none;
    }
}

.header-cta {
    display: none;
    flex-direction: column;

    @media (min-width: 768px) {
        display: flex;
    }
}

.cta__guarantee {
    font-size: 12px;
    line-height: 14px;
}
