.ameri-health {
    background: url('../img/logos/logo-ameri-health.png') no-repeat center;
}

.blue-cross {
    background: url('../img/logos/logo-blue-cross.png') no-repeat center;
}

.cigna {
    background: url('../img/logos/logo-cigna.png') no-repeat center;
}

.harvard-health {
    background: url('../img/logos/logo-harvard-health.png') no-repeat center;
}

.humana {
    background: url('../img/logos/logo-humana.png') no-repeat center;
}

.united-health {
    background: url('../img/logos/logo-united-health.png') no-repeat center;
}

.upmc {
    background: url('../img/logos/logo-upmc.png') no-repeat center;
}

.four-star {
    background: url('../img/ratings/four-star.png') no-repeat center;
    background-size: contain;
    height: 50px;
    width: 150px;
}

.five-star {
    background: url('../img/ratings/five-star.png') no-repeat center;
    background-size: contain;
    height: 50px;
    width: 150px;
}

.sr {
    background: url('../img/logos/sr.png') no-repeat center;
    background-size: cover;
    height: 50px;
    width: 240px;
}

.lth {
    background: url('../img/logos/lth.png') no-repeat center;
    background-size: cover;
    height: 40px;
    width: 320px;
}

.ro {
    background: url('../img/logos/ro.png') no-repeat center;
    background-size: cover;
    height: 50px;
    width: 195px;
}

.rf {
    background: url('../img/logos/rf.png') no-repeat center;
    background-size: cover;
    height: 50px;
    width: 235px;
}
