.testimonial-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;

    & .list-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    & .list--title {
        margin-bottom: 2rem;
        color: #6C6C6C;
    }

    & .ul--list {
        max-width: 400px;

        @media(min-width: 768px) {
            max-width: none;
            display: flex;
        }
    }

    & .ul--list > li {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media(min-width: 768px) {
            margin: 0;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 0;
            border-bottom: none;
        }

        @media(min-width: 1024px) {
            padding-left: 5rem;
            padding-right: 5rem;

            &:nth-child(2) {
                border-left: 1px solid rgb(190, 190, 190);
                border-right: 1px solid rgb(190, 190, 190);
            }
        }
    }

    & .li--text {
        text-align: center;
    }
}


.testimonial-hero {
    background: url('../img/bg3-mobile.png') no-repeat center;
    background-size: cover;
    height: 45.2vw;
    position: relative;

    @media(min-width: 480px) {
        height: 240px;
    }

    @media(min-width: 768px) {
        background: url('../img/bg3-desktop.png') no-repeat center;
        background-size: cover;
        height: 300px;
    }

    @media(min-width: 1200px) {
        height: 360px;
    }
}

.featured-testimonial {
    display: none;

    @media (min-width: 768px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 240px;
        padding-left: 1rem;
        padding-right: 1rem;
        position: absolute;
        top: 50px;
        left: 100px;
    }

    @media (min-width: 992px) {
        left: 205px;
    }

    @media (min-width: 1200px) {
        left: 275px;
    }
}
