.container--form {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.form__content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.form__title {
    font-size: 22px;
    line-height: 123%;
    text-align: center;

    @media (min-width: 768px) {
        text-align: left;
        font-size: 28px;
    }
}

.form__cta {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        align-items: flex-start;
    }
}

.form__cta--phone {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 34px;
    line-height: 42px;
}

.form__cta--tease {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 18px;
    line-height: 22px;

    @media (min-width: 768px) {
        font-size: 24px;
        line-height: 28px;
    }
}

.mktgform {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.form__input {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
        flex-basis: 46.5%;
    }

    @media (min-width: 992px) {
        flex-basis: 47.5%;
    }
}

.form__input > input, textarea {
    padding: 0.5rem;
    width: inherit;
    border: 1px solid #E5E5E5;
    font-size: 16px;
}

.form__input--text {
    @media (min-width: 768px) {
        flex-basis: 100%;
    }
}

.form__input > label.error{
    margin-top: 0.5rem;
    font-size: 12px;
    color: red;
}

.form__input > input.error, textarea.error {
    border: 1px solid #d34231;
    background: #F5DCDC;
}

.form__btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 48px;
    border-radius: 25px;
    color: #FFF;
    font-size: 18px;
    border: none;
    text-align: center;
    -webkit-appearance: none;

    &:hover {
        cursor: pointer;
    }

    @media (min-width: 480px) {
        font-size: 18px;
    }

    @media (min-width: 768px) {
        margin-right: auto;
        width: 220px;
        height: 48px;
    }
}

.form__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__cta--guarantee {
    font-size: 16px;
    line-height: 18px;
}

.form__footer--list {
    list-style: none;
    font-size: 16px;
    line-height: 32px;

    @media (min-width: 768px) {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}

.form__footer--list-item {
    position: relative;
}

.form__footer--list > .search::before,
.plane::before,
.clock::before {
    left: -35px;
    top: 0;
    font-size: 20px;

    @media (min-width: 992px){
        font-size: 28px;
        left: -40px;
    }
}

.form__footer--disclaimer {
    margin-top: 2rem;
    font-size: 12px;
}
