.plane::before {
    font-family: 'FontAwesome';
    content: '\f072';
    color: #267FB7;
    position: absolute;
}

.check::before {
    font-family: 'FontAwesome';
    content: '\f00c';
    color: #267FB7;
    position: absolute;
}

.phone::before {
    font-family: 'FontAwesome';
    content: '\f095';
    color: #267FB7;
    position: absolute;
}

.heart::before {
    font-family: 'FontAwesome';
    content: '\f004';
    color: #267FB7;
    position: absolute;
}

.search::before {
    font-family: 'FontAwesome';
    content: '\f002';
    color: #267FB7;
    position: absolute;
}

.clock::before {
    font-family: 'FontAwesome';
    content: '\f017';
    color: #267FB7;
    position: absolute;
}
