.font-blue {
    color: #267FB7;
}

.font-teal {
    color: #40BBC1;
}

.font-lt-orange {
    color: #FFB836;
}

.font-grey-blue {
    color: #A3ABC3;
}

.font-white {
    color: #FFF;
}

.font-grey {
    color: #6C6C6C;
}

.blue-bottom {
    border-bottom: 3px solid #267FB7;
}

.teal-bottom {
    border-bottom: 3px solid #40BBC1;
}

.grey-bottom {
    border-bottom: 1px solid #BEBEBE;
    padding-bottom: 2rem;
}

.bg-white {
    background-color: #FFF;
}

.bg-beige {
    background-color: #FCFAF5;
}

.bg-orange {
    background-color: #FF7F3F;
}

.bg-aqua {
     background-color: #F0FBF9;
}

.bg-gray {
    background-color: #F7F7F7;
}

.bg-blue {
    background-color: #192755;
}

.font-lightest {
    font-weight: 100;
}

.font-light {
    font-weight: 300;
}

.font-medium {
    font-weight: 400;
}

.font-heavy {
    font-weight: 700;
}

.font-heaviest {
    font-weight: 900;
}
