$white: #fff;
$black: #000;
$gray: #737373;
$teal: #38bbc2;
$orange: #ff7f34;
$red: #dc3545;
$green: #28a745;
$blue: #00609c;
$beige: #f9f6ea;
$aac-navy: #1a2857;
@function tint($color, $percentage) {
  @return mix($white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix($black, $color, $percentage);
}

.font-white {
  color: $white;
}

.bg-white {
  background-color: $white;
}

// gray
.font-gray-100 {
  color: tint($gray, 65%);
}

.font-gray-300 {
  color: tint($gray, 50%);
}

.font-gray {
  color: $gray;
}

.font-gray-700 {
  color: shade($gray, 50%);
}

.font-gray-900 {
  color: shade($gray, 65%);
}

.bg-gray-100 {
  background-color: tint($gray, 85%);
}

.bg-gray-300 {
  background-color: tint($gray, 50%);
}

.bg-gray {
  background-color: $gray;
}

.bg-gray-700 {
  background-color: shade($gray, 50%);
}

.bg-gray-900 {
  background-color: shade($gray, 65%);
}

.color-block {
  height: 100px;
}

// teal
.bg-teal-100 {
  background-color: tint($teal, 85%);
}

.bg-teal {
  background-color: $teal;
}

.bg-teal-700 {
  background-color: shade($teal, 50%);
}

.font-teal {
  color: $teal;
}

// orange
.bg-orange {
  background-color: $orange;
}

// beige
.bg-beige {
  background-color: $beige;
}

// blue
.font-blue {
  color: $blue;
}

.font-blue-700 {
  color: shade($blue, 50%);
}

.bg-blue {
  background-color: $blue;
}

.bg-blue-700 {
  background-color: shade($blue, 35%);
}

// aac navy
.bg-navy-300 {
  background-color: rgba($aac-navy, 0.8);
}

.bg-navy {
  background-color: $aac-navy;
}

// Overlays
@mixin overlay {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.section__overlay {
  @include overlay;
}

.section__overlay--teal {
  background: rgba(#0d889c, 0.65);
}