body {
  font-family: "Avenir", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.app-wrap {
  display: flex;
  flex-direction: column;
}

.app-wrap>* {
  flex: 1 1 auto;
}

.full-page {
  display: flex;
  flex-direction: column;
  margin-top: 65px;
  margin-bottom: 75px;
  @media (min-width: 992px) {
    margin-bottom: 0;
    margin-top: 81px;
  }
}

// content modules
.content__section,
.content--banner {
  padding: 1rem;
  @media (min-width: 768px) {
    padding: 3rem;
  }
}

.content__section--content {
  position: relative;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.content__section--background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.content-30 {
  @media (min-width: 992px) {
    width: 30%;
  }
}

.content-50 {
  @media (min-width: 992px) {
    width: 50%;
  }
}

.content-70 {
  @media (min-width: 992px) {
    width: 70%;
  }
}

// flex box properties => primary orientation - secondary orientation
.combo-col-row {
  display: flex;
  flex-direction: column;
  @media (min-width: 992px) {
    flex-direction: row;
  }
}

.combo-col {
  display: flex;
  flex-direction: column;
}

.combo-row {
  display: flex;
}